extends _layout

block title
	title Collections
block content
	.bg-color(style="background-color: #2a2a32")
	.touch#touch
		- var namePage = "collections"
		- var indexPage = false
		include includes/_burger
		.wrapper
			.scroll#out
				.content(class="content-"+ namePage data-page=namePage)
					include includes/_header
					.content-wrapper
						.content-head
							.head-container
								span Коллекция
						.content-body
							.filter-container.filter
								.filter-head.filter-trigger
									span Фильтр
								.filter-body
									.filter-body_inner.filter-body_action
										form(class="form-filter" action="/collection/" id="filter")
											.field-row
												.field-body
													input(type="checkbox" name="collection" id="country" value="country")
													label(for="country")
														span Кантри
											.field-row
												.field-body
													input(type="checkbox" name="collection" id="modern" value="modern")
													label(for="modern")
														span Современная
											.field-row
												.field-body
													input(type="checkbox" name="collection" id="clinker" value="clinker")
													label(for="clinker")
														span Клинкерная
											.field-row
												.field-body
													input(type="checkbox" name="collection" id="minimal" value="minimal")
													label(for="minimal")
														span Минимализм
											.field-row
												.field-body
													input(type="checkbox" name="collection" id="mosaic" value="mosaic")
													label(for="mosaic")
														span Мозаика
											.field-row
												.field-body
													button(type="submit" class="form-submit")
														span Применить
													button(type="reset" class="form-reset")
														span очистить
							.full-gallery.full-gallery_slider.full-gallery_slider-collection
								.full-gallery_container
									mixin gallery(href, image, color, name, price)
										a.full-gallery_slide.ajax-trigger(href=href)
											.slide-image
												img(src=image, data-color=color)
											.slide-text
												.name #{name}
												.info #{price}
									+gallery("/collection-inner.html", "img/slider/slide-1.jpg", "#3f3b35", "FAP, Roma", "от €60 м2")
									+gallery("/collection-inner.html", "img/slider/slide-2.jpg", "#615f6e", "FAP, Roma", "от €60 м2")
									+gallery("/collection-inner.html", "img/slider/slide-3.jpg", "#434344", "FAP, Roma", "от €60 м2")
									+gallery("/collection-inner.html", "img/slider/slide-4.jpg", "#627f6e", "FAP, Roma", "от €60 м2")
									+gallery("/collection-inner.html", "img/slider/slide-1.jpg", "#2a2a32", "FAP, Roma", "от €60 м2")
									+gallery("/collection-inner.html", "img/slider/slide-2.jpg", "#524339", "FAP, Roma", "от €60 м2")
									+gallery("/collection-inner.html", "img/slider/slide-3.jpg", "#3f3b35", "FAP, Roma", "от €60 м2")
									+gallery("/collection-inner.html", "img/slider/slide-4.jpg", "#e6bace", "FAP, Roma", "от €60 м2")
							- var ajax = false;
							- var link = "collection.html"
							include includes/_pagination
					- var name = "projects"
					include includes/_footer
					script(type="text/javascript").
						var gallerys = $(".full-gallery");
						var gallery = new FullGallery(gallerys);
						var filter = $(".filter");
						filter = new Filter(filter);
						var pagin = $(".pagination");
						pagin = new Pagination(pagin, {
							appendContainer: ".full-gallery_slider-collection"
						})
	- var currentClass = "Коллекции"
	include includes/_menu
	include includes/_popup
	script(type="text/javascript").
		var modal = new Form();
			modal.init();
		